
#labelFrame {
    border: none;
}

#valueLabelFame {
    border: none;
}

#frame_5 {
    border: none;
}

#rotationFrame {
    border: none;
}

#sidesFrame {
    border: none;
}

#side1Frame {
    border: none;
}

#side2Frame {
    border: none;
}

#side3Frame {
    border: none;
}

#angleFrame {
    border: none;
}

#starFrame {
    border: none;
}
